<a href="https://colab.research.google.com/github/Matteo-Artuso/pyspark_exemple/blob/main/1_spark_data_upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=886efa1191fd58d89fe5a248c3f86aa0b9c144d2808137592b4aca14dda13125
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
# Import the basic spark library
from pyspark.sql import SparkSession

# Create an entry point to the PySpark Application
spark = SparkSession.builder \
      .master("local") \
      .appName("MyFirstSparkApplication") \
      .getOrCreate()
# master contains the URL of your remote spark instance or 'local'

<h4>Resilient Distributed Dataset (RDD)</h4>
<ul>
    <li>Fault tolerant</li>
    <li>Resilient</li>
    <li>Immutable</li>
    <li>Partitioned</li>
</ul>

<h4>Data Upload</h4>

In [3]:
# Upload data from a list  
data = [("Margherita", 5.95, ["Tomato Sauce", "Mozzarella Cheese", "Basil"]),
        ("Calzone", 7.95, ["Tomato Sauce", "Mozzarella Cheese", "Prosciutto Cotto"])]

# Create an RDD
rdd = spark.sparkContext.parallelize(data)

In [4]:
# Upload list from a file
rdd_2 = spark.sparkContext.textFile("menu.txt")

<h4>Dataframe Creation</h4>

In [5]:
# Create a Dataframe
df_data = [("Margherita", 5.95, ["Tomato Sauce", "Mozzarella Cheese", "Basil"]),
        ("Calzone", 7.95, ["Tomato Sauce", "Mozzarella Cheese", "Prosciutto Cotto"]),
        ("Diavola", 5.95, ["Tomato Sauce", "Mozzarella Cheese", "Spicy Salame"]),
        ("Prosciutto", 7.95, ["Tomato Sauce", "Mozzarella Cheese", "Prosciutto Cotto"]),
        ("Speck & Brie", 7.95, ["Tomato Sauce", "Mozzarella Cheese", "Speck", "Brie"]),
        ("Tonno & Cipolle", 7.95, ["Tomato Sauce", "Mozzarella Cheese", "Tuna", "Onions"]),
        ("Fries", 3.95, ["Potatoes"])]
        
columns = ["Pizza Name", "Price", "Ingredients"]
df = spark.createDataFrame(data = df_data, schema = columns)

In [6]:
# Show the first 20 elements of a dataframe
df.show()

+---------------+-----+--------------------+
|     Pizza Name|Price|         Ingredients|
+---------------+-----+--------------------+
|     Margherita| 5.95|[Tomato Sauce, Mo...|
|        Calzone| 7.95|[Tomato Sauce, Mo...|
|        Diavola| 5.95|[Tomato Sauce, Mo...|
|     Prosciutto| 7.95|[Tomato Sauce, Mo...|
|   Speck & Brie| 7.95|[Tomato Sauce, Mo...|
|Tonno & Cipolle| 7.95|[Tomato Sauce, Mo...|
|          Fries| 3.95|          [Potatoes]|
+---------------+-----+--------------------+

In [7]:
# Load a DataFrame
df = spark.read.option("header", True).option("delimiter", ";").csv("menu.csv")

# Print detected 
df.printSchema()

df.show()

root
 |-- Pizza Name: string (nullable = true)
 |--  Price: string (nullable = true)
 |--  Ingredients: string (nullable = true)

+---------------+------+--------------------+
|     Pizza Name| Price|         Ingredients|
+---------------+------+--------------------+
|     Margherita|  5.95| ["Tomato Sauce",...|
|        Calzone|  7.95| ["Tomato Sauce",...|
|        Diavola|  5.95| ["Tomato Sauce",...|
|     Prosciutto|  7.95| ["Tomato Sauce",...|
|   Speck & Brie|  7.95| ["Tomato Sauce",...|
|Tonno & Cipolle|  7.95| ["Tomato Sauce",...|
+---------------+------+--------------------+

<h4>Dataframes from RDDs</h4>

In [8]:
# Transform the RDD into a Dataframe
df_from_rdd = rdd.toDF()

# Print the schema of the Dataframe
df_from_rdd.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: double (nullable = true)
 |-- _3: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [9]:
#Transform the RDD into a Dataframe, specifying the columns
columns = ["Pizza Name", "Price", "Ingredients"]
df_from_rdd = rdd.toDF(columns)
df_from_rdd.printSchema()

root
 |-- Pizza Name: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Ingredients: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [10]:
df_2_from_rdd = spark.createDataFrame(rdd).toDF(*columns)
df_from_rdd.printSchema()

root
 |-- Pizza Name: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Ingredients: array (nullable = true)
 |    |-- element: string (containsNull = true)

<h4>Custom Dataframe</h4>

In [11]:
from pyspark.sql.types import StructType, StructField, StringType, FloatType, ArrayType

#Createe the schema using StructField(Name, Type, Nullable)
schema = StructType([ \
    StructField("Pizza Name", StringType(), True), \
    StructField("Price", FloatType(), True), \
    StructField("Ingredients", ArrayType(StringType()), True) \
])
 
df = spark.createDataFrame(data = df_data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- Pizza Name: string (nullable = true)
 |-- Price: float (nullable = true)
 |-- Ingredients: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---------------+-----+---------------------------------------------------+
|Pizza Name     |Price|Ingredients                                        |
+---------------+-----+---------------------------------------------------+
|Margherita     |5.95 |[Tomato Sauce, Mozzarella Cheese, Basil]           |
|Calzone        |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Diavola        |5.95 |[Tomato Sauce, Mozzarella Cheese, Spicy Salame]    |
|Prosciutto     |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Speck & Brie   |7.95 |[Tomato Sauce, Mozzarella Cheese, Speck, Brie]     |
|Tonno & Cipolle|7.95 |[Tomato Sauce, Mozzarella Cheese, Tuna, Onions]    |
|Fries          |3.95 |[Potatoes]                                         |
+---------------+-----+---------------------------------------------------+

<h4>Organizing Data</h4>

In [12]:
# Sorting depending on the fields (default = ascending order)
df.sort("Price").show(truncate = False)

+---------------+-----+---------------------------------------------------+
|Pizza Name     |Price|Ingredients                                        |
+---------------+-----+---------------------------------------------------+
|Fries          |3.95 |[Potatoes]                                         |
|Margherita     |5.95 |[Tomato Sauce, Mozzarella Cheese, Basil]           |
|Diavola        |5.95 |[Tomato Sauce, Mozzarella Cheese, Spicy Salame]    |
|Calzone        |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Prosciutto     |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Speck & Brie   |7.95 |[Tomato Sauce, Mozzarella Cheese, Speck, Brie]     |
|Tonno & Cipolle|7.95 |[Tomato Sauce, Mozzarella Cheese, Tuna, Onions]    |
+---------------+-----+---------------------------------------------------+

In [14]:
from pyspark.sql.functions import col
# Sorting depending on the fields
df.sort(col("Price"), col("Pizza Name")).show(truncate = False)

+---------------+-----+---------------------------------------------------+
|Pizza Name     |Price|Ingredients                                        |
+---------------+-----+---------------------------------------------------+
|Fries          |3.95 |[Potatoes]                                         |
|Diavola        |5.95 |[Tomato Sauce, Mozzarella Cheese, Spicy Salame]    |
|Margherita     |5.95 |[Tomato Sauce, Mozzarella Cheese, Basil]           |
|Calzone        |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Prosciutto     |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Speck & Brie   |7.95 |[Tomato Sauce, Mozzarella Cheese, Speck, Brie]     |
|Tonno & Cipolle|7.95 |[Tomato Sauce, Mozzarella Cheese, Tuna, Onions]    |
+---------------+-----+---------------------------------------------------+

In [15]:
# Sorting using orderBy
df.orderBy(col("Price"), col("Pizza Name")).show(truncate = False)

+---------------+-----+---------------------------------------------------+
|Pizza Name     |Price|Ingredients                                        |
+---------------+-----+---------------------------------------------------+
|Fries          |3.95 |[Potatoes]                                         |
|Diavola        |5.95 |[Tomato Sauce, Mozzarella Cheese, Spicy Salame]    |
|Margherita     |5.95 |[Tomato Sauce, Mozzarella Cheese, Basil]           |
|Calzone        |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Prosciutto     |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Speck & Brie   |7.95 |[Tomato Sauce, Mozzarella Cheese, Speck, Brie]     |
|Tonno & Cipolle|7.95 |[Tomato Sauce, Mozzarella Cheese, Tuna, Onions]    |
+---------------+-----+---------------------------------------------------+

In [16]:
# Expliciting the sorting (work the same with orderBy)
df.sort(col("Price").asc(), col("Pizza Name").desc()).show(truncate = False)

+---------------+-----+---------------------------------------------------+
|Pizza Name     |Price|Ingredients                                        |
+---------------+-----+---------------------------------------------------+
|Fries          |3.95 |[Potatoes]                                         |
|Margherita     |5.95 |[Tomato Sauce, Mozzarella Cheese, Basil]           |
|Diavola        |5.95 |[Tomato Sauce, Mozzarella Cheese, Spicy Salame]    |
|Tonno & Cipolle|7.95 |[Tomato Sauce, Mozzarella Cheese, Tuna, Onions]    |
|Speck & Brie   |7.95 |[Tomato Sauce, Mozzarella Cheese, Speck, Brie]     |
|Prosciutto     |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
|Calzone        |7.95 |[Tomato Sauce, Mozzarella Cheese, Prosciutto Cotto]|
+---------------+-----+---------------------------------------------------+

In [17]:
# We could also use raw SQL
# No spoilers -> We'll see how to use it later on

<h4>Explode Arrays in Individual Rows</h4>

In [18]:
from pyspark.sql.functions import explode

exploded_df = df.select(col("Pizza Name"), df.Price, explode(df.Ingredients))
exploded_df.printSchema()
exploded_df.show(truncate = False)

root
 |-- Pizza Name: string (nullable = true)
 |-- Price: float (nullable = true)
 |-- col: string (nullable = true)

+---------------+-----+-----------------+
|Pizza Name     |Price|col              |
+---------------+-----+-----------------+
|Margherita     |5.95 |Tomato Sauce     |
|Margherita     |5.95 |Mozzarella Cheese|
|Margherita     |5.95 |Basil            |
|Calzone        |7.95 |Tomato Sauce     |
|Calzone        |7.95 |Mozzarella Cheese|
|Calzone        |7.95 |Prosciutto Cotto |
|Diavola        |5.95 |Tomato Sauce     |
|Diavola        |5.95 |Mozzarella Cheese|
|Diavola        |5.95 |Spicy Salame     |
|Prosciutto     |7.95 |Tomato Sauce     |
|Prosciutto     |7.95 |Mozzarella Cheese|
|Prosciutto     |7.95 |Prosciutto Cotto |
|Speck & Brie   |7.95 |Tomato Sauce     |
|Speck & Brie   |7.95 |Mozzarella Cheese|
|Speck & Brie   |7.95 |Speck            |
|Speck & Brie   |7.95 |Brie             |
|Tonno & Cipolle|7.95 |Tomato Sauce     |
|Tonno & Cipolle|7.95 |Mozzarella Cheese|
|Tonno & Cipolle|7.95 |Tuna             |
|Tonno & Cipolle|7.95 |Onions           |
+---------------+-----+-----------------+
only showing top 20 rows

In [19]:
# How can we rename a column?
exploded_df = exploded_df.withColumnRenamed("col", "Ingredient").printSchema()

root
 |-- Pizza Name: string (nullable = true)
 |-- Price: float (nullable = true)
 |-- Ingredient: string (nullable = true)